{% extends "fixed.html" %}
{% block content %}
<div class="ui container" style="flex:1">
    <div class="ui three ten wide column grid">
        <h1 class="ui header">Contact us</h1>
        <div class="three column row">
            <div class="column">            
                <p>Eric P.F. Lam: ericlam@astri.org</p>
                <p>Rocky Zhang: rockyzhang@astri.org</p>
                <p>Truman Xiao: trumanxiao@astri.org</p>
                <p>Kwok Chung Tam: kwokchungtam@astri.org</p>
                <p>Joyce Y. Zhu: joycezhusi@astri.org</p>
                <p>Anthony Chen: anthonychensi@astri.org</p>
            </div>
            <div class="column">
                <div class="ui vertical divider">
                    and
                </div>
            </div>
            <div class="column">
                <p>5/F, Photonics Centre, 2 Science Park East Avenue, Hong Kong Science Park, Shatin, Hong Kong</p>
                <p>Phone: (852) 3406 2800</p>
                <p>Fax: (852) 3406 2801</p>
                <p>Email: corporate@astri.org</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}